* {
margin: 0;
padding: 0;
}

body {
	font-family: serif;
	 background-image:linear-gradient( to right,#FFE1FF, #00868B ); 
	 font-size: 1em;
	 margin-left: 22%;
	 margin-top: 2%;
	 justify-content: center;
}

h1  {
font-family: ;
color: #473C8B;
margin-left: 25%;
	}

#subtitulo {
    font-family: sans-serif;
    color: #380B61;
    margin-left: 20%;
}
#check{
    display: inline-block;
}
fieldset {
    border: 0;
}
input, select, textarea, button  {
border-radius: 5px;
font-size: 1em;

}

.grupo:before, .grupo:after {
    display: table;
}
.grupo:after {
    clear: both;
}
.campo   {
margin-bottom: 0.2em;
}
.prof   {
margin-bottom: 0.2em;
}

.campo label   {
margin-bottom: 0.1em;
display: block;
}
.prof label   {
margin-bottom: 0.1em;
}

fieldset.grupo .campo   {
	float: left;
	margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.1em;
    border: 0.2px solid #59429d;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    display: block;
}
.prof input, .prof textarea .prof input[type="text"] {
    padding: 0.1em;
    border: 0.2px solid #59429d;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

.campo select option   {
	padding-right:1em;
}
.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #E0E0F8;
}
.botao {
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    justify-content: center;
    margin-left: 25%;

        display: block;

}
.botao:hover {
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;

}
.botao, select{
    cursor: pointer;
}